  <%= f.error_messages %>

<div class= "yui-g">
  <div class= "yui-u first">
	<p>
    <%= f.label :kind, t("activerecord.attributes.ad.kind").titlecase %><br />
    <%= f.select :kind, Ad::KINDS.values.sort, :default => Ad::KINDS[:buy] %>
  </p>
  <p>
    <%= f.label :category, t("activerecord.attributes.ad.category").titlecase %><br />
    <%= f.collection_select :category_id, Category.all, :id, :name, {:prompt => t("ads.please_choose_one")} %>
  </p>
  <p>
    <%= f.label :title, t("activerecord.attributes.ad.title").titlecase %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body, t("activerecord.attributes.ad.body").titlecase %><br />
    <%= f.text_area :body, :size => "40x8" %>
  </p>
  <p>
     <%= f.label :email, t("activerecord.attributes.ad.email").titlecase %><br />
     <%= f.text_field :email %>
   </p>
   <p>
     <%= f.label :phone, t("activerecord.attributes.ad.phone").titlecase %><br />
     <%= f.text_field :phone %>
   </p>
  </div>
  <div class = "yui-u">
  <p>
    <%= f.label :photo, t("activerecord.attributes.ad.photo").titlecase %><br />
    <%= f.file_field :photo %><br/>
    <%= image_tag f.object.photo.url(:medium) %>
  </p>
	</div>
</div>