<% @title = "#{t("ads.update")} - #{@ad.title}"%>

<%= link_to t("ads.remove"), ad_path(@ad, :secret_code => @ad.secret_code), :confirm => t("are_you_sure"), :method => :delete, :style => "float:right;" %>

<h1><%= t("ads.update")%></h1>


<% form_for(@ad , :html => { :multipart => true }) do |f| %>

  <%= render :partial => 'form_fields', :locals =>{:f => f} %>
  
  <%= hidden_field_tag :secret_code, @ad.secret_code %>
  <br/>
  <p>
    <%= f.submit 'Atualizar' %>
  </p>
<% end %>


