<h1> <%= @title %> </h1>

<% unless @selling.empty? %><h2> <%= t :sell %> </h2> <% end -%>
<%= render :partial => 'ad', :collection => @selling %>

<% unless @buying.empty? %><h2> <%= t :buy %> </h2><% end -%>
<%= render :partial => 'ad', :collection => @buying %>

<% unless @exchanging.empty? %><h2> <%= t :exchange %> </h2><% end -%>
<%= render :partial => 'ad', :collection => @exchanging %>

<br />

<% content_for :results_summary do %>
  <%= ads_summary_as_sentence  %>
<%end%>