<h1>Classificados Online</h1>

<%= link_to 'Novo Classificado', new_ad_path %>



<% @ads.each do |ad| %>
  <div class="ad">
    <div class="ad_header">
      <h2><%=h ad.title %></h2>
      <div class="ad_date">
        <%=h ad.created_at %>
      </div>
    </div>
    <div class="ad_body">
      <%=h ad.body %>
    </div>
    <div class="ad_info">
      <%=h ad.email %>
      <%=h ad.phone %>
      <%= link_to 'Show', ad %>
      <%= link_to 'Destroy', ad, :confirm => 'Are you sure?', :method => :delete %>
    </div>    
  </div>

<% end %>

<br />

