<p>
  <b>Name:</b>
  <%=h @category.name %>
</p>
<p>
  <b>Permalink:</b>
  <%=h @category.permalink %>
</p>
<p>
  <b>Photo:</b>
  <br/><%= image_tag @category.photo.url(:thumb) %>
</p>



<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>